.help-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 200;

    display: flex;
    align-items: center;
    justify-content: center;
}

.help-text {
    background-color: white;
    margin: 10px;
    padding: 20px;

    font-size: 14px;
    color: hsl(200, 20%, 15%);

    box-shadow: 2px 2px 6px hsla(200, 10%, 10%, 0.3);
    border-radius: 8px;

    transition: all 0.3s ease-in-out;
}

.help-text ul {
    padding-left: 20px;
}

.help-text li {
    margin: 8px 0;
}

.help-text button {
    width: 100%;
    background-color: hsl(200, 60%, 50%);
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 4px hsla(200, 10%, 10%, 0.3);

    font-size: 16px;
    font-family: Roboto, sans-serif;;
    color: white;

    padding: 10px 0;

    margin-top: 25px;
    transition: background-color 0.15s ease-in-out;
}

.help-text .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.help-text .header .icon {
    font-size: 60px;
    margin-left: 10px;
    margin-right: 15px;
    position: relative;
    top: 4px;
    color: #590d0e;
}

.help-text .header .title {
    font-size: 26px;
}

.help-text .header .title .subtitle {
    font-size: 14px;
    color: hsl(200, 10%, 40%);
    margin-top: 2px;
}


/* Transitions */
.help-container.closed {
    visibility: hidden;
    pointer-events: none;
}

.help-container.open .help-text {
    transform: none;
}

.help-container.closed .help-text {
    opacity: 0;
    transform: scale(0.9);
}

@media (max-width: 700px) {
    .help-text .header .icon {
        font-size: 55px;
        margin-left: 8px;
        margin-right: 15px;
        position: relative;
        top: 4px;
        color: #590d0e;
    }

    .help-text .header .title {
        font-size: 22px;
    }

    .help-text .header .title .subtitle {
        font-size: 12px;
        margin-top: 2px;
    }
}

@media (min-width: 800px) {
    .help-text {
        width: 400px;
    }
}
